apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    application: anomaly-detection
  name: anomaly-detection
  namespace: manuela-stormshift-messaging
spec:
  lookupPolicy:
    local: false
  tags:
  - name: 0.3.2-3
    from:
      kind: DockerImage
      name: quay.io/rh_emea_sa_bot/iot-anomaly-detection:0.3.2-3
    importPolicy: {}
    referencePolicy:
      type: Local
  - name: 0.3.2-5
    from:
      kind: DockerImage
      name: quay.io/rh_emea_sa_bot/iot-anomaly-detection:0.3.2-5
    importPolicy: {}
    referencePolicy:
      type: Local
  - name: 0.3.2-5
    from:
      kind: DockerImage
      name: quay.io/rh_emea_sa_bot/iot-anomaly-detection:0.3.2-5
    importPolicy: {}
    referencePolicy:
      type: Local
  - name: 0.3.2-6
    from:
      kind: DockerImage
      name: quay.io/rh_emea_sa_bot/iot-anomaly-detection:0.3.2-6
    importPolicy: {}
    referencePolicy:
      type: Local
